//  Author: ANTHONY GOOSSENS
//  Email: yorkii@csu.fullerton.edu
//  Derived from the given code for project so the true author is the Professor
body {
  text-align: center;
  font-family: sans-serif;
}
canvas {
  background-color: black;
}
